.main-title{
    width: 100%;
    max-width: 960px;

}

.main-title span{
    font-weight: 900;
    font-style: Black;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.2px;
    vertical-align: middle;
}

.main-title p{
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #5C6B48;
}